body{
    background-color: rgb(24, 35, 44);
    max-width: 100rem;
    min-width: 10rem;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
a{
    display: inline-block;
    min-width: 10rem;
    line-height: 2.3rem;
    
}
h1{
    font-size: 3rem;
}
nav a:link, a:visited{
    background-color: none;
    color: rgb(138, 40, 74);
    text-decoration: none;
    border-radius: .4rem;
    border: 3px solid;
    font-size: 1.6em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}
nav a:hover{
    
    color: rgb(245, 73, 130);
}
#top-banner{
    text-align: center;
    margin-bottom: 1rem;
}
header > img{
    display: block;
    margin-left:auto;
    margin-right:auto;
}
#top-banner-logo{
    max-width: 100%;
    max-height: 18rem;
    margin-bottom: 3rem;

}

article:hover{
    color: rgb(245, 40, 108);
}
.navi-bar ul{
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    justify-items: center;
}


footer{
    margin-top: 1rem;
    display: flex;
    
}
footer div{
    flex: 1;
    color:rgb(50, 61, 58);
    align-items: end;
}
.footer-img{
    width: 9rem;
    
}
section{
    display: flex;
    
}
article{
    display: inline-block;
    color:rgba(208,96,76,255);
    
    
}
article img{
    margin-left: 1.25rem;
    width: 90%;
    justify-self: center;
    
    
    
}

article p{
    color:rgb(110, 141, 131);
}
article p:hover{
    color:rgb(40, 197, 147);
}
#main
{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    row-gap: 4rem;
    justify-content: space-between;
    
    
    
}
#main h2{
    margin-left: 1.25rem;
}
#main article{
    background-color: rgb(2, 46, 66);
    display: flex;
    width: 24rem;
    height: 26rem;
    flex-wrap: wrap;
    border-radius: .5rem;;
}
#main  p{
    margin-bottom: 1rem;
    
}
