body{
    background-color: rgb(4, 11, 26);
    max-width: 100rem;
    min-width: 10rem;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,1) ,rgba(0,0,0,1)), url('../images/nxNew2-1044300021.jpg');
    background-size: 100%;
    
    
}
a{
    display: inline-block;
    min-width: 10rem;
    line-height: 2.3rem;
    
}
h1{
    font-size: 3rem;
}
nav a:link, a:visited{
    background-color:antiquewhite;
    color: rgba(208,96,76,255);
    text-decoration: none;
    border-radius: .4rem;
    border: 3px solid;
    font-size: 1.6em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}
#top{
    justify-content: center;
}
#top article{
    background-image: linear-gradient(rgba(45,35,34,0),rgba(0,0,0,150)),url('../images/glam_blonde.jpg');
    background-size: 100%;
    margin-bottom: 2rem;
    min-height: 20rem;
    max-width: 100rem;
    min-width: 50rem;
    border-radius: 2rem;
}
#top article h1{
    margin-left: 3rem;
}
#top article p{
    margin-left: 2rem;
    margin-right: 30rem;
    font-size: 1.8rem;
    color: rgb(149, 155, 211);
}
#top p:hover{
    color:rgb(40, 197, 147);
}
nav a:hover{
    
    color: rgb(245, 73, 130);
    background-color: rgb(149, 155, 211);
}
#top-banner{
    text-align: center;
    margin-bottom: 1rem;
}
header > img{
    display: block;
    margin-left:auto;
    margin-right:auto;
}
#top-banner-logo{
    max-width: 100%;
    max-height: 18rem;
    margin-bottom: 3rem;

}

article:hover{
    color: rgb(245, 40, 108);
}
.navi-bar ul{
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    justify-items: center;
}
footer{
    margin-top: 1rem;
    display: flex;
    
}
footer div{
    flex: 1;
    color:rgb(50, 61, 58);
    align-items: end;
}
.footer-img{
    width: 9rem;
    
}
section{
    display: flex;
    
}
article{
    display: inline-block;
    color:rgba(208,96,76,255);
}
article img{
    margin-left: 1.25rem;
    width: 90%;
    justify-self: center;
}

article p{
    color:rgb(149, 155, 211);
}
article p:hover{
    color:rgb(40, 197, 147);
}
#main
{
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1rem;
    justify-content: space-between;
}
#main h2{
    margin-left: 1.25rem;
}
#main article{
    background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0,1)), rgba(32,25,24,255);
    width: 24rem;
    height: 32rem;
    border-radius: .5rem;
    
    
}
#main p{
    margin-left: 1.25rem;
}

